
* {
  text-align: justify;
}

h1, h2, h3 {
  color: $primary;
  margin: 30px 0 !important;
  font-weight: 700 !important;
  text-align: initial;
}

p, ul > li {
  color: $text-color;
}

ul > li {
  list-style-type: circle;
}